<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ page.keywords | join: ', ' }}">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>
  <div class="page">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>{{ site.title }}</h2>

        <nav class="page-nav" id="sidebar-toc"></nav>

        <hr>

        <a href="{{ site.github.repository_url }}">View code on GitHub</a>

        <hr>

        <nav class="site-nav">
            <a href="https://clzirbel.github.io/">All GitHub Projects</a>
            <a href="https://github.com/clzirbel">GitHub Profile</a>
            <a href="https://www.linkedin.com/in/craig-zirbel-8726a417/">LinkedIn</a>
            <a href="">Resume (coming soon)</a>
            <a href="https://sites.google.com/view/clzirbel/home">Things to Learn</a>
            <a href="https://bgsu.edu/zirbel">BGSU Faculty Website</a>
            <a href="https://scholar.google.com/citations?hl=en&user=iEheKzoAAAAJ">Google Scholar List</a>
        </nav>

    </aside>

    <!-- Main content -->
    <main class="content">
      {{ content }}
    </main>

  </div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const toc = document.querySelector("#markdown-toc");
  const sidebar = document.querySelector("#sidebar-toc");
  if (toc && sidebar) {
    sidebar.appendChild(toc.cloneNode(true)); // move a copy into sidebar
  }
});
</script>

<span id="copyright" style="display: block; text-align: center;"></span>

<script>
const year = new Date().getFullYear();
document.getElementById("copyright").innerHTML = `© ${year} Craig L. Zirbel`;
</script>

</body>
</html>
